
    <div class="container">
        <nav>
            <span class="logo">CatFacts</span>
            <ul>
                <li>
                    <a routerLink="/cat" routerLinkActive="active"> Datos Curiosos</a>
                  </li>
                  <li>
                    <a routerLink="/admin" routerLinkActive="active"> Administrar</a>
                  </li>
                  <li>
                    cerrar sesion
                  </li>
            </ul>
        </nav>
        <header>
            <h1>BIENVENIDOS A DATOS CURIOSOS DE GATOS </h1>
            <h2>Soy Limbert Quispe</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et rerum ducimus beatae sint totam provident ea, labore iste fugit, libero ipsam dolor in minus dicta voluptatum cupiditate quos, veritatis consequuntur?</p>
            
        </header>
        <img class="emp" src="https://us.123rf.com/450wm/lexlinx/lexlinx2004/lexlinx200400455/145790078-ilustraci%C3%B3n-de-vector-de-silueta-de-gato-de-dibujos-animados-negro-de-l%C3%ADnea-simple-para-dise%C3%B1o.jpg" alt="">

        
    </div>



